ul {
  color: rgb(243, 201, 14);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-size: 50px;
  border-style: groove;
  border-width: thick;
  border-color: rgb(74, 85, 42);
  display: block;
}
h3 {
  color: rgb(243, 201, 14);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-align: center;
  font-size: 75px;
  border-style: groove;
  border-width: thick;
  border-color: rgb(74, 85, 42);
  display: block;
}
