ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  color: darkred;
  font-size: 50px;
}

h2 {
  color: darkred;
  font-size: 50px;
}
div {
  text-align: center;
}
img {
  display: block;
  margin: auto;
  padding: auto;
  width: 50%;
}
